.nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    padding: 0px 10px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
    
}

.nav__contents {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__left > h5 {
    color: white;
    font-weight: 350;
    padding-left: 20px;
    cursor: pointer;
}

.nav__logo {
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav__avatar {
    margin-right: 40px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 4px;
}

